.profileContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #fffcf7ff;
}

.profileWrapper {
  width: 70%;
  background-color: white;
  height: 60%;
  display: flex;
  box-shadow: 0px 0px 20px 0px lightgray;
  z-index: 4;
  border-radius: 10px;
  padding: 20px;
}

.profileWrapper1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileWrapper1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.profileWrapper1 img:hover {
  box-shadow: 0px 0px 10px 5px lightgray;
  transform: scale(1.2);
}

.profileWrapper2 {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* grid-template-rows: minmax(100px , auto); */
}

.span1,
.span2 {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.span1 input,
.span2 input {
  height: 40px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
  color: rgb(130, 130, 130);
}

.span3 {
  grid-row: 2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}

.span3 input {
  /* height: 40px; */
  width: 70%;
  border: none;
  font-size: 18px;
  outline: none;
  color: rgb(130, 130, 130);
}

.span3 input::-webkit-file-upload-button {
  width: 40%;
  height: 45px;
  border-radius: 20px;
  background-color: #feb06eff;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 40px;
}

.span4,
.span5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.span4 button,
.span5 button {
  width: 50%;
  height: 60px;
  border-radius: 20px;
  background-color: #feb06eff;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
