.confirmBookingContainer {
  display: flex;
  background-color: #fffcf7ff;
  position: absolute;
  flex-direction: row;
}

.circleContainer {
  width: 100vw;
  height: 150vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.confirmBookingWrapper1 {
  flex: 2;
  z-index: 3;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left: 30px;
}

.confirmBookingWrapper2 {
  flex: 1;
  display: flex;
  z-index: 3;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn-wrapper .btn-link {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirmBookingWrapper1 .heading {
  border-radius: 15px;
  padding: 10px 15px;
  width: 100%;
  margin: 10px 0px;
  font-size: large;
  font-weight: bolder;
  background-color: #fffcf7cc;
  box-shadow: -2px 3px 15px 0px lightgray;
}
.confirmBookingWrapper2 .receipt {
  box-shadow: -2px 3px 15px 0px lightgray;
  width: 80%;
  border-radius: 10px;
  background-color: #fffcf7ff;
}
.confirmBookingWrapper2 .receipt .heading-section {
  display: flex;
  margin: 20px 20px;
  justify-content: space-between;
  align-items: center;
}
.confirmBookingWrapper2 .receipt .heading-section #print-icon {
  height: 25px;
  width: 25px;
}
.confirmBookingWrapper2 .receipt .heading-section span {
  font-size: small;
}
.confirmBookingWrapper2 .receipt .receipt-details {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
.confirmBookingWrapper2 .receipt .receipt-details .terms {
  display: flex;
  flex: 1;
  gap: 8px;
  flex-direction: column;
  min-width: 150px;
}
.confirmBookingWrapper2 .receipt .receipt-details .terms span {
  color: #acabab;
  font-weight: bold;
}
.confirmBookingWrapper2 .receipt .receipt-details .values {
  display: flex;
  gap: 8px;
  flex: 1;
  align-items: flex-end;
  flex-direction: column;
  min-width: 150px;
}
.confirmBookingWrapper2 .receipt .receipt-details .values span {
  color: #000000;
  font-weight: bold;
}
.confirmBookingWrapper2 .receipt .receipt-details .date-time {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}
.confirmBookingWrapper2 .receipt .receipt-details .values .date-time {
  align-items: end;
}
.confirmBookingWrapper2 .receipt .receipt-details .divider {
  border: none;
  border-top: 2px solid #acabab;
  margin: 10px 0;
  width: 100%;
}
.confirmBookingWrapper2 .receipt .receipt-details #total-cost {
  color: #10a310;
  font-size: large;
}
.confirmBookingWrapper2 .receipt .receipt-details .date-time .title {
  color: #acabab;
  font-size: small;
}
.confirmBookingWrapper2 .receipt .receipt-details .date-time .date {
  color: #000000;
  font-weight: bolder;
}
.confirmBookingWrapper2 .receipt .receipt-details .date-time .time {
  font-size: small;
  font-weight: 300;
  color: #000000;
}
.confirmBookingWrapper2 .receipt .btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirmBookingWrapper2 .receipt #confirm-continue {
  background-color: #10a310;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .confirmBookingContainer{
    display: flex;
    flex-direction: column;
    height: 250vh;
  }

  .confirmBookingWrapper1{
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .circleContainer{ 
    height: 200vh;
  }

  .receipt {
    height: 95vh;
  }
}