.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    position: absolute;
}

.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.links{
    min-width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.user_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.userImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.linklist{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 18px;
    color: white;
}

.linklist li{
    cursor: pointer;
}