.carsContainer{
    width: 100%;
    height: 220vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #FFFCF7ff;
    /* overflow-x: hidden; */
    position: absolute;
    top: 0;
}

.blobContainer{
    /* width: 100vw; */
    height: 200vh;
    position: relative;
    overflow-x: hidden;
    z-index: 2;
}

.blob1{
    position: absolute;
    width: 80vw;
    top: -40vw;
    right: -20vw;
}

.blob2{
    position: absolute;
    width: 80vw;
    top: 10vw;
    left: -20vw;
}

.carsWrapper{
    margin: 20px;
    height: 80vh;
    width: 80vw;
    /* background-color: white; */
    z-index: 4;
    display: flex;
    
}

.carsWrapper1{
    flex: 1;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.carsWrapper1 img{
    width: 35vw;
    transform: translateX(-10%);
}

.carsWrapper2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.carsWrapper2>span{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.carsWrapper2>span p{
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
.carsWrapper2>span p.active , .carsWrapper2>span p:hover{
    color: white;
    
}
.carInfo{
    /* width: 60%; */
    padding: 10px;
    display: flex;
    gap: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px lightgray;
    transition: all 200ms linear;
}

.carInfo:hover{
    background-color: rgb(239, 238, 238);
    transform: scale(1.05);
}

.carInfo > img{
    flex: 1;
    height: 6vw;
}
.carInfo span{
    flex: 2;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* gap: 10px; */
    flex-direction: column;
}
.carsSearch{
    width: 100%;
    height: 110vh;
    z-index: 4;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.filters{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filters div:nth-child(1) , .filters div:nth-child(2) , .filters div:nth-child(3) , .filters div:nth-child(4){
    width: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.filters div:nth-child(1) select , .filters div:nth-child(2) select , .filters div:nth-child(3) input , .filters div:nth-child(4) select{
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 16px;
}

.filters div:nth-child(1) select , .filters div:nth-child(2) select{
    outline: 2px solid black;
}

.filters div:nth-child(3) input , .filters div:nth-child(4) select{
    outline: 2px solid #FEB06Eff;

}

.filters label{
    font-size: 18px;
    font-weight: bold;
}


.grid{
    display: grid;
    width: 80%;
    height: 80%;
    gap: 50px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
}
.card{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: white;
    box-shadow: 10px 10px 15px 0.5px rgba(0, 0, 0, 0.701);
    border-radius: 10px;
    transition: all 200ms linear;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.card:hover{
    transform: scale(1.05);
}

.card .img{
    height: 12vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card img{
    height: 12vw;
}
.card>span{
    padding-left: 20px;
    padding-right: 50px;
}
.card span>p:nth-child(1){
    font-size: 20px;
    /* color: rgb(171, 171, 171); */
    font-weight: bold;
}

.card p:nth-child(2){
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carRating-bar {
    display: flex;
    gap: 50px;
}
.carRating-bar #carRating-box {
width: 60px;
background-color: #FEB06Eff;
color: white;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-evenly;
border-radius: 8px;
}

.carRating-bar #carRating-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}
.carRating-bar #carRating-info span {
    font-size: small;
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    .carsContainer{
        height: 300vh;
    }
    .carsWrapper{
        flex-direction: column;
        gap: 100px;
        height: 160vh;
    }
    .carsWrapper1{
        justify-content: center;
    }
    .carsWrapper1>img{
        width: 60vw;
    }
    .carsWrapper2{
        gap: 10px;
    }

    .carInfo > img{
        height: 120px;
    }
}

@media screen and (max-width: 750px) {
    .carInfo{
        width: 80%;
    }
}